<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content padding>
  <amplify-authenticator framework="ionic"></amplify-authenticator>
</ion-content> -->

<h4 text-center margin-top>Ingrese sus credenciales</h4>

<ion-item>
  <ion-label stacked>Username</ion-label>
  <ion-input [(ngModel)]="username"></ion-input>
</ion-item>

<ion-item>
  <ion-label stacked>Password</ion-label>
  <ion-input type="password" [(ngModel)]="password"></ion-input>
</ion-item>

<div text-center margin-top>
  <ion-button color="primary" (click)="signIn()">
    SIGN IN
    <ion-icon slot="end" name="log-in"></ion-icon>
  </ion-button>
  <ion-button color="primary" (click)="clean()">
    CLEAN
    <ion-icon slot="end" name="refresh"></ion-icon>
  </ion-button>
</div>

<div text-center>
  <ion-button color="primary" (click)="signIn()">
    SIGN IN WITH
    <ion-icon slot="end" name="logo-facebook"></ion-icon>
  </ion-button>

</div>

<ion-footer no-border *ngIf="this.authState.loggedIn">
  <ion-toolbar color="primary" text-center>
  </ion-toolbar>
</ion-footer>