<ion-menu>
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-list-header>
                Navigate
            </ion-list-header>
            <ion-menu-toggle auto-hide="false">
                <ion-item button>
                    <ion-icon slot="start" name='home'></ion-icon>
                    <ion-label>
                        Home
                    </ion-label>
                </ion-item>
            </ion-menu-toggle>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-tabs color="primary">
    <ion-tab label="Menu" icon="menu">
        <ion-buttons slot="start">
            <ion-menu-toggle>
                <ion-button>
                    <ion-icon slot="icon-only" name="menu"></ion-icon>
                </ion-button>
            </ion-menu-toggle>
        </ion-buttons>
    </ion-tab>
    <ion-tab label="Asistencias" icon="home" href="/tabs/(home:home)">
        <ion-router-outlet main name="home"></ion-router-outlet>
    </ion-tab>
    <ion-tab label="About" icon="information-circle" href="/tabs/(about:about)">
        <ion-router-outlet main name="about"></ion-router-outlet>
    </ion-tab>
    <ion-tab label="Reportes" icon="pie" href="/tabs/(report:report)">
        <ion-router-outlet main name="contact"></ion-router-outlet>
    </ion-tab>
</ion-tabs>