<ion-item-sliding>
    <ion-item lines="full" detail>
        <ion-icon name="time" item-start></ion-icon>
        <ion-label>
            {{attendance.action}} - <span>{{attendance.date | dateMoment}}</span>
        </ion-label>
    </ion-item>
    <ion-item-options>
        <ion-button clear color="danger">
            <ion-icon name="trash"></ion-icon>
        </ion-button>
        <ion-button clear color="secondary">
            <ion-icon name="menu"></ion-icon>
        </ion-button>
    </ion-item-options>
</ion-item-sliding>