<ion-header color="primary">
    <ion-toolbar color="primary" justify-content-between>
        <ion-buttons slot="secondary">
            <ion-button>
                <ion-icon slot="icon-only" name="search"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="secondary">
            <ion-button>
                <ion-icon name="settings"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Mis Asistencias</ion-title>
    </ion-toolbar>
    <ion-toolbar color="blue" justify-content-around>
        <ion-buttons slot="secondary">
            <ion-button>
                <ion-icon slot="icon-only" name="contact"></ion-icon>
            </ion-button>
            <ion-button>
                <ion-icon slot="icon-only" name="search"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="primary">
            <ion-button>
                <ion-icon slot="icon-only" name="more"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Últimas asistencias</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="light">
    <app-attendance-registration></app-attendance-registration>
    <app-attendance-list></app-attendance-list>
</ion-content>