<ion-header color="primary">
    <ion-toolbar color="primary" justify-content-between>
        <ion-buttons start>
            <ion-button clear>
                <ion-icon name="search"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Home</ion-title>
        <ion-buttons end>
            <ion-button clear>
                <ion-icon name="settings"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar color="blue" justify-content-around>
        <ion-title>Sub-header</ion-title>
        <ion-buttons end>
            <ion-button clear>
                <ion-icon name="settings"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content color="light">
    <ion-content padding>
        <amplify-authenticator framework="ionic"></amplify-authenticator>
    </ion-content>
    <app-attendance-registration></app-attendance-registration>
    <app-attendance-list></app-attendance-list>
</ion-content>